{% extends "layout.njk" %}

{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}
<div class="nav">
  <h1>Games</h1>
  <div class="navform">
     <form method="get" action="/">
     <button type="submit">Homepage</button>
    </form>
    </div>
  </div>

     <div class="container">

        {%for item in allGames %}
<div class="content">

              <a href="/allGames/{{item.name}}/{{item.id}}">{{item.name}} </a>
              <img href="{{item.cover.url}}" src="{{item.cover.url}}">
</div>

        {% endfor %}
</div>

  <div class="footer">
  {%if indexPage == 1 or indexPage == NaN %}
  <button disabled="disabled"><<</button>
      {% else %}
<a href="/allGames/{{numberOfPages[0]}}"><<</a>
{%endif%}
 {% if indexPage == 1 or indexPage == NaN %}
   <button disabled="disabled"><</button>
  {% else %}
<a href="/allGames/{{indexPage-1}}"><</a>
  {% endif %}
      {% set limit = 10 %}
      {% for page in numberOfPages %}
      {% if indexPage > limit %}
      {% set iterator = page + indexPage %}
      {% if iterator <= limit +(indexPage) %}
      {% if iterator <= numberOfPages.length %}
     <a href="/allGames/{{iterator}}">{{iterator}}</a>
      {% endif %}
      {% endif %}
      {% else %}
      {% if page<= limit %}

      <a href="/allGames/{{page}}">{{page}}</a>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if indexPage == numberOfPages.length %}
        <button disabled="disabled">></button>
      {% else %}
      <a href="/allGames/{{indexPage+1}}">></a>
      {% endif %}
{%if indexPage==numberOfPages.length %}
  <button disabled="disabled">>></button>
      {% else %}
<a href="/allGames/{{numberOfPages.length}}">>></a>
{%endif%}
</div>


{% endblock %}

