{% extends "layout.njk" %}
{%block css %}
<link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}
{% block content %}
<h1>Catalog Games</h1>
<button href="/home">Return HomePage</button>
<div class="listejeux">
{%for item in game %}
<ul>
<li>
<p>{{item.name}} </p>

<img href="{{item.url}}"src="{{item.url}}">
</li>
</ul>
{% endfor %}
</div>

{% endblock %}
