{% extends "layout.njk" %}
{%block css %}
<link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}
<h1>{{gameinfo.name}}</h1>

{%for item in gamegenres %}

<h2>Genre : {{item.name}}</h2>
{% endfor %}
<div class="coverjeu">
<img src="{{gameinfo.cover.url}}">
</div>


<div class="listejeu">


{%for item in gamescreenshots %}

<img href="{{item.url}}"src="{{item.url}}">

{% endfor %}
</div>


{% endblock %}
