{% extends "layout.njk" %}

{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}
<div class="nav">
  <h1>{{name}}</h1>
  <div class="navform">
     <form method="get" action="/">
     <button type="submit">Homepage</button>
    </form>
    </div>
</div>




<div class="container">
    {% for item in listGame %}
    <div class="content">

          <a href="/Game/{{item.id}}/{{item.name}}">{{item.name}} </a>
          <img href="{{item.logo.url}}"src="{{item.cover.url}}">

</div>
    {% endfor %}
</div>
<div class="footer">
<a href="/Games/{{name}}/{{id}}/{{numberOfPagess[0]}}"><<</a>
 {% if indexPage == 0 %}
  {% else %}
<a href="/Games/{{name}}/{{id}}/{{indexPage-1}}"><</a>
  {% endif %}

      {% set limit = 10 %}
      {% for page in numberOfPagess %}
      {% if indexPage > limit %}
      {% set iterator = page + indexPage %}
      {% if iterator <= limit + (indexPage) %}
      {% if iterator <= numberOfPagess.length %}
       <a href="/Games/{{name}}/{{id}}/{{iterator}}">{{iterator}}</a>
      {% endif %}
      {% endif %}
      {% else %}
      {% if page <= limit %}
    <a href="/Games/{{name}}/{{id}}/{{page}}">{{page}}</a>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if indexPage == numberOfPages.length %}
      {% else %}
     <a href="/Games/{{name}}/{{id}}/{{indexPage+1}}">></a>
      {% endif %}

<a href="/Games/{{name}}/{{id}}/{{numberOfPagess.length}}">>></a>
</div>


{% endblock %}
