{% extends "layout.njk" %}
{%block css %}
<link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}
{% block content %}
<h1>DEV CATALOGUE</h1>
<div class="intro">
<a href="/plateforms">CLICK HERE </a>
</div>




{% endblock %}

