* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #273c5a;
  color: white;
  font-family: "Roboto", sans-serif;
}

.listejeux ul li a {
  image-rendering: auto;
  list-style: none;
  color: white;
  padding-top: 2rem;
}
.listejeux ul li img {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
